.html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4, p, text {
    font-family: "Courier New", Courier, monospace;
}

.text {
    font-size: 12px;
}