{% load staticfiles %}
{% load nvd3_tags %}
<!-- app/templates/about.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'nvd3/build/nv.d3.css' %}">
    <link rel="stylesheet" href="{% static 'd3-timeline-chart/dist/timeline-chart.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>
    <script type="text/javascript" src='{% static 'js/main.js' %}'></script>
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
    <script type="text/javascript" src="{% static 'nvd3/build/nv.d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'd3-timeline-chart/dist/timeline-chart.js' %}"></script>
    <style>
        text {
            font: 12px sans-serif;
        }
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>
    <script>
        $(document).ready(function () {
            $.ajax({
                url : "{% url 'get_all_apps' %}",
                type : "GET",
                data : { },

                success : function (json) {
                        const element = document.getElementById('timeline-container');
                        var data = [];
                        for (var i = 0; i < json.length; ++i) {
                            var obj = json[i];
                            var iter = [{
                                    label: obj.name,
                                    type: TimelineChart.TYPE.INTERVAL,
                                    from: new Date(obj.started),
                                    to: new Date(obj.finished)
                            }];
                            data = data.concat(iter);
                            console.log(iter);
                        }
                        var visdata = [{
                            label: 'Applications',
                            data: data
                        }];
                        console.log(visdata);
                        const timeline = new TimelineChart(element, visdata, {
                            tip: function(d) {
                                return d.at || `${d.from}<br>${d.to}`;
                            }
                        });
                },
                error : function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+ " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    }
            });
        });
        'use strict';
        var app_name;
        $(document).ready(function() {
            $('#get-app').on('submit', function (event) {
                event.preventDefault();
                app_name = $('#app_name').val();
            });
        });
        $(document).ready(function () {
            $('#container-button').click( function () {
                $.ajax({
                    url : "{% url 'get_app_containers' %}",
                    type : "GET",
                    data : { app_name: app_name },

                    success : function (json) {

                    },

                    error : function (xhr, errmsg, err) {
                        console.log(errmsg);
                    }
                });
            });
        });


    </script>
</head>
<body>
    <div class="page-header"><h1>Welcome to the Visual Analytics Project page</h1></div>
    <a href="/">Go to Main</a>

    <div id="results"></div> <!-- errors go here -->

    <section flex flex-full-center>
        <div id="timeline-container"></div>
    </section>
    <form action="/get_app_details" id="get-app">
        {% csrf_token %}
        <select name="app_name" id="app_name">
            {% for application in applications %}
                <option value="{{ application.name }}">{{ application.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Get">
    </form>
    <h3>Application: <div id="div-name"></div></h3>
    <h3>Started: <div id="div-started"></div></h3>
    <h3>Finished: <div id="div-finished"></div></h3>
    <br/>
</body>
</html>